<% exercise = exercise_with_response[:exercise] %>
<% tags = get_all_unreviewed_taggings exercise_with_response[:response] %>
<% exercise_text = exercise.text %>
<div class="panel panel-default">
	<div class="panel-heading app-exercise-head">
		<div class="app-exercise-header">
			<%= content_tag(:span, exercise.title) %>
		</div>
	</div>
	<div class="panel-body">
		<div class="app-content col-sm-9">
			<%= content_tag(:p, :class => "exercise exercise-#{exercise.id} justify") do %>
					<%= exercise_text %>
			<% end %>
			<p><strong>Tweet :</strong> <%= exercise_with_response[:response].text %></p>
			<%= render :partial => "exercises/candidate/tagging_status", locals: {tags: tags} unless tags.empty? %>
			
		</div>
		<div class="app-exercise-options">
			<div class="app-exercise-info">
				<span class="app-exercise-info-item"> <i class="fa fa-users" aria-hidden="true"></i><%= exercise.responses.count %> </span>
				<%= render :partial => "exercises/candidate/response_status" if tags.empty? %>
			</div>
			<div class="app-exercise-actions">
				<%= button_to 'View all responses', exercise_responses_path(exercise), method: :get, class: 'btn btn-info pull-right'%>
			</div>
		</div>
	</div>
</div>
