<div class="row" data-tab-name="new_exercises">
  <div class="app-new-exercise-container col-lg-11 app-md-card center-block">
    <%= bootstrap_form_for(@exercise) do |form| %>
        <%= form.fields_for :task do |task_fields| %>
            <%= task_fields.text_field :title, :class => "col-10 form-control", :required => true %>
            <%= task_fields.text_area :text, :class => "col-10 form-control exercise_area", :required => true, rows: 8 %>
        <% end %>
        <%= form.fields_for :exercise_config do |config_fields| %>
            <span class="timeline">
              <span class="app-duration-limit">
                  <%= config_fields.text_field :duration, :class => "form-control", :id => "duration" %>
              </span>
              <span class="app-commence-time">
                <%= config_fields.datetime_local_field :commence_time, :class => "col-10 form-control" %>
              </span>
              <span class="app-conclude-time">
               <%= config_fields.datetime_local_field :conclude_time, :class => "col-10 form-control" %>
              </span>
            </span>
        <% end %>
        <span class="app-exercise-actions pull-right">
					<%= link_to "Cancel", drafts_exercises_path, { :class => "btn btn-danger cancel_edit" } %>
          <%= form.submit "Save", :class => "btn btn-success padding-bottom" %>
				</span>
    <% end %>
    <%= javascript_tag "$('#duration').durationPicker({showDays: false});" %>
  </div>
</div>
